.about {
  line-height: 2;
  text-align: left;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 20px;
}

.aboutp::first-letter {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .about {
    font-size: 10px;
    margin: 0px;
    width: 90%;
    line-height: 1.5;
  }
}
