h1 {
  color: white;
  font-size: 50px;
  font-family: monospace;
  text-shadow: 1px 1px 15px white;
}

.Nav {
  display: inline-block;
  justify-content: space-around;
  margin: 20px;
}

.sub {
  font-size: 15px;
}

.sub2 {
  font-size: 13px;
}
