.container {
  display: inline-block;
  color: white;
  width: 98%;
  margin-top: 50px;
}

.project {
  display: inline-flex;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 35px;
}

.description {
  width: 40%;
  line-height: 2;
}

.row {
  margin: 18px;
  padding: 5px;
}

.col {
  margin-bottom: 50px;
  /* padding: 20px; */
  background-color: rgb(73, 72, 72);
  opacity: 0.9;
  border-radius: 25px;
  /* border: 2px solid white; */
  box-shadow: 1px 1px 15px white;
}

h3 {
  font-size: 25px;
  /* margin: 30px;
  padding: 20px; */
}

img {
  transition: transform 450ms;
}

img:hover {
  transform: scale(1.08);
}

@media (min-width: 320px) and (max-width: 768px) {
  .project {
    display: inline-block;
    /* object-fit: contain; */
  }

  img {
    object-fit: contain;
    width: 95%;
    margin: 0;
    height: 200px;
  }

  .description {
    /* position: relative; */
    /* float: left; */
    font-size: 12px;
    justify-content: space-between;
    width: 95%;
  }
}
