.App {
  text-align: center;
  justify-content: center;
  /* background-color: black; */
}

.routesContainer {
  /* margin: 20px; */
  color: black;
  padding: 30px;
  /* position: relative; */
  /* position: fixed; */
  /* right: 90px; */
  text-align: center;
  width: 80%;
  /* background-color: blue; */
  margin: auto;
  /* position: fixed; */
  top: 0;
  z-index: 2;
}

.routes {
  position: fixed;
}

.nameHeader {
  float: left;
  /* margin-left: 120px; */
}

.link {
  margin: 50px;
  text-decoration: none;
  font-size: 15px;
  /* text-shadow: 1px 1px 15px black; */
  color: black;
  font-family: monospace;
  padding-bottom: 30px;
  /* position: fixed; */
  z-index: 2;
}

.link:hover {
  font-weight: bold;
  font-size: 16px;
}

.link:focus {
  color: blue;
}

@media (max-width: 870px) {
  .nameHeader {
    display: none;
  }
  .routes {
    width: auto;
  }
}
@media (max-width: 320px) {
  .link {
    margin: 3px;
  }
  .nameHeader {
    display: none;
  }
  .routes {
    /* background-color: yellow; */
    /* max-width: 100%; */
    padding: 0px;
    padding-top: 30px;
    width: 100%;
    /* margin: 0px; */
  }
}
